@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


@layer base {
  

  body {
    @apply bg-[#011222] text-[#f0f8ff] tracking-wide
  }

  
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2{
    @apply text-3xl sm:text-4xl


  }

  li{

    @apply cursor-pointer

  }


}


.image-style {
  display: block;
  position: relative;
  width: 230px;
  height: 230px;
  transition: transform 0.5s;
}

.image-style img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  object-position: 50% 5%; 
  position: relative;
  transition: filter 0.3s;
  filter: brightness(0.46) sepia(1) hue-rotate(-43deg) saturate(5);
  z-index: 1;
  border-radius: 3px;
}

.image-style:hover,
.image-style:focus {
  transform: translate(-4px, -4px);
}

.image-style:hover img,
.image-style:focus img {
  filter: none;
}

.image-style::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 2px solid #f44336;
  border-radius: 3px;
  transform: translate(4px, 4px); 
  transition: border 0.5s, transform 0.5s;
  z-index: 0;
  
}

.image-style:hover::before,
.image-style:focus::before {
  transform: translate(10px, 10px);
}

.project-card {
  transition: transform 0.5s;
}

.project-card img {
  object-fit: cover;
  transition: filter 0.3s;
  filter: none; 
}

@media screen and (min-width: 768px) {
  .project-card img {
    filter: brightness(0.5) sepia(1) hue-rotate(-45deg) saturate(5); 
  }

  .project-card:hover img,
  .project-card:focus img {
    filter: none; 
  }
}




