@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#121317] text-white tracking-wide !important;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }
}

.image-style {
  display: block;
  position: relative;
  width: 225px;
  height: 224px;
  transition: transform 0.5s;
}

.image-style img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: 50% 5%;
  position: relative;
  z-index: 1;
  transition: transform 0.5s;
}

.image-style:hover img {
  transform: translate(-10px, -10px);
}

.image-style::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  transform: translate(4px, 4px);
  transition: border 0.5s, transform 0.5s;
  z-index: 0;
  border: 2px solid #fa243c;
  border-radius: 4px;
}

.image-style:hover::before,
.image-style:focus::before {
  transform: translate(10px, 10px);
}

.project-card {
  transition: transform 0.5s;
}

.project-card img {
  object-fit: cover;
  transition: filter 0.3s;
  filter: none;
}

@media screen and (min-width: 768px) {
  .project-card img {
    filter: brightness(0.5) sepia(1) hue-rotate(220deg) saturate(5);
  }

  .project-card:hover img,
  .project-card:focus img {
    filter: none;
  }
}

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 0.05rem;
  right: 0.5rem;
  z-index: 101;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #cfcfcf;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-width: 1;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.an {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid #f44336;
  color: #f44336;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.an::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #011222;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.an:hover::before {
  transform: scaleY(0);
}

.an::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #011222;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.an:hover::after {
  transform: scaleX(0);
}

.an .span {
  position: relative;
  z-index: 3;
}

.button {
  color: #ffffff;
  background-color: #191a1e;
  border: 1px solid #191a1e;
  border-radius: 5px;
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  transition: 0.3s;
}

.button:hover,
.button:focus-visible {
  outline: none;
  box-shadow: 4px 4px 0 0 #fa243c;
  transform: translate(-5px, -5px);
}

.button:after {
  display: none !important;
}

.shape {
  fill: #aba6c4;
}

.styledFooter {
  flex-direction: column;
  height: auto;
  min-height: 1px;
  padding: 1px;
  text-align: center;
  align-items: flex-start;
  line-height: 1;
}

@keyframes animate-it {
  0%,
  100% {
    top: 14px;
    opacity: 1;
  }

  50% {
    top: 28px;
    opacity: 0;
  }
}

.scroll-txt {
  color: #fff;
  text-align: center;
  width: 100px;
  margin: 6px auto;
  position: relative;
}

.scroll-button {
  height: 60px;
  width: 32px;
  border: 4px solid #aba6c4;
  border-radius: 24px;
  position: relative;
  margin: 0 auto;
}

.scroll-button::after {
  content: "";
  height: 12px;
  width: 12px;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background-color: #aba6c4;
  position: absolute;
  transform: translate(-50%, -50%);

  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

/* loader */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vw;
  max-width: 750px;
  max-height: 750px;
  box-sizing: border-box;
}

.loader .face {
  position: absolute;
  border: 2px solid transparent;
}

.loader .face.face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-top: 2px solid #64feda;
  border-left: 2px solid #64feda;
  animation: animate 10s linear infinite;
}

.loader .face.face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 50%;
  border-right: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
  animation: animate 10s linear reverse infinite;
}

.loader .face .circle {
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}

.loader .face.face1 .circle {
  transform: rotate(-45deg);
}

.loader .face.face2 .circle {
  transform: rotate(-45deg);
}

.loader .face .circle:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  top: -4px;
  right: -6px;
}

.loader .face.face1 .circle:before {
  background: #64feda;
  box-shadow: 0 0 20px #64feda, 0 0 40px #64feda, 0 0 60px #64feda,
    0 0 80px #64feda, 0 0 100px #64feda, 0 0 0 5px rgba(255, 255, 0, 0.1);
}

.loader .face.face2 .circle:before {
  background: #e60505;
  box-shadow: 0 0 20px #e60505, 0 0 40px #e60505, 0 0 60px #e60505,
    0 0 80px #e60505, 0 0 100px #e60505, 0 0 0 5px rgba(3, 169, 244, 0.1);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .loader {
    width: 60vw;
    height: 60vw;
  }
}

@media (max-width: 992px) {
  .loader {
    width: 70vw;
    height: 70vw;
  }
}

@media (max-width: 768px) {
  .loader {
    width: 80vw;
    height: 80vw;
  }
}

@media (max-width: 576px) {
  .loader {
    display: none;
  }
}

.backdrop2 {
  backdrop-filter: saturate(180%) blur(20px);
  background: var(--localnav-background-stuck, rgba(22, 22, 23, 0.8));
}
